@import "../App.css";

.swiper {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide {
  font-size: 60px;
  height: 100%;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img{
  display: block;
}

.swiper-pagination{
  margin-bottom: 10vh;
}

.swiper-button-next{
  display: hidden;
}




/* Page 1*/

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
}

.tutorial_swiper .tutorial {
  width: 100%;
  height: 100%;
 
}

#hi_tutorial_text {
  display: flex;
  justify-content: center;
  font-family: var(--inter-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 5vh;
}

#people_icon {
  display: flex;
  margin-left: 39.2vw;
  margin-top: 3.58vh;
  max-width: 21.3vw;
  max-height: 6.82vh;
}

.hi_tutorial_text_2_container{
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 76.5vw;
  max-height: 14.4vh;
  margin-top: 3.58vh;
  margin-right: 10.1vw;
  margin-left: 13.3vw;
}

#hi_tutorial_text_2{
  font-family: var(--inter-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color:#FFABAB;
}
