@import "../App.css";

.TutorialSwiper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--background1);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {

}

.swiper-slide img {
  display: block;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

span.swiper-pagination-bullet {
  background: white;
}

.swiper-pagination-bullet swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.3);
}

.swiper swiper-initialized swiper-horizontal swiper-backface-hidden {
  height: auto;
}

.swipper_back_button {
  position: flex;
  cursor: pointer;
  width: 11px;
  height: 23px;
  left: 9.86vw;
  top: 4.87vh;
  animation: fadeIn 8s;
}

.swiper-button-prev {
  visibility: hidden;
}

.swiper-button-next {
  visibility: hidden;
}

#skip_the_tutorial {
  display: flex;
  background: #ffabab;
  font-family: var(--inter-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

/* Page 1*/

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tutorial_swiper .tutorial {
  display: flex;
}

#tutorial_text {
  display: flex;
  justify-content: center;
  font-family: var(--inter-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 2vh;
  
}

#tutorial_middle_icon {
  display: flex;
  margin-left: 39.2vw;
  margin-top: 3.58vh;
  max-width: 21.3vw;
  max-height: 6.82vh;
}

#tutorial_text_2 {
  font-family: var(--inter-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffabab;
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 76.5vw;
  max-height: 14.4vh;
  margin-top: 4.58vh;
  margin-right: 10.1vw;
  margin-left: 13.3vw;
  height: auto;
}

.skip_the_tutorial {
  display: flex;
  align-items: center;
}

#skip_the_tutorial_text {
  font-family: var(--inter-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffabab;
}
