@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --background1: linear-gradient(
    180deg,
    #ea4f32 0%,
    #f06b52 0.01%,
    #f45033 0.02%,
    #e80f5d 100%
  );
  --background2: white;
  --background3: #F0694F;
  --inter-font: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

br{
    margin-top: 5px;
    margin-bottom: 5px;
}

default-screen {
  display: flex;
  flex-direction: column;
  background: var(--background1);
  min-height: 100vh;
}

wrapper-screen {
  display: flex;
  flex-direction: column;
  max-width: 1200px; /* Set your desired max width */
  margin: 0 auto; /* Center the container */
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 0px; /* Add some padding */
  min-height: 100vh;
}

::placeholder{
  text-align: center;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #ffabab;
  letter-spacing: 0em;
}

input {
  text-align: center;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--background2);
  background-color: transparent;
  width: auto;
  color: white;
  line-height: 4vh;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

/*fadeOut Elements Effect*/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*fadeIn Elements Effect*/

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  