@import "../App.css";

.SignupORloginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo-signup {
  position: absolute;
  width: 198px;
  height: 47px;
  top: 17vh;
}

.text-signup-page {
  display: flex;
  flex-direction: column;
  margin-top: 33vh;
}

#hey-have-we-met {
  display: flex;
  max-width: 242px;
  max-height: 88px;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--background2);
  left: 13vh;
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 800ms;
  -moz-animation: fadeIn 800ms;
  -o-animation: fadeIn 800ms;
  -ms-animation: fadeIn 800ms;
}

#signup-to-start {
  display: flex;
  max-width: 290px;
  max-height: 18px;
  left: 13vh;
  margin-top: 2vh;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffabab;
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 800ms;
  -moz-animation: fadeIn 800ms;
  -o-animation: fadeIn 800ms;
  -ms-animation: fadeIn 800ms;
}

.signup-button-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 21px 82px;
  gap: 10px;
  width: 223px;
  max-height: 61vh;
  margin-top: 6vh;
  border: 2px solid #ffffff;
  border-radius: 70px;
  background-color: var(--background1);
  cursor: pointer;
  transition-property: margin-top;
  transition-duration: 800ms;
}

#signup-text {
  display: flex;
  text-align: center;
  font-family: var(--inter-font);
  color: var(--background2);
}

#login-text-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 44px;
  height: 18px;
  margin-top: 2.8vh;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffbaba;
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 800ms;
  -moz-animation: fadeIn 800ms;
  -o-animation: fadeIn 800ms;
  -ms-animation: fadeIn 800ms;
}

/*DOM Manipulation */

#logo-back-hide {
  position: absolute;
  width: 11px;
  height: 23px;
  left: 9.86vw;
  top: 4.87vh;
  animation: fadeOut 8s;
  -webkit-animation: fadeOut 800ms;
  -moz-animation: fadeOut 800ms;
  -o-animation: fadeOut 800ms;
  -ms-animation: fadeOut 800ms;
  opacity: 0;
  visibility: hidden;
}

#logo-back-show {
  position: absolute;
  cursor: pointer;
  width: 11px;
  height: 23px;
  left: 9.86vw;
  top: 4.87vh;
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 800ms;
  -moz-animation: fadeIn 800ms;
  -o-animation: fadeIn 800ms;
  -ms-animation: fadeIn 800ms;
}

#hey-have-we-met-hide {
  display: flex;
  max-width: 242px;
  max-height: 88px;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--background2);
  left: 13vw;
  animation: fadeOut 8s;
  -webkit-animation: fadeOut 800ms;
  -moz-animation: fadeOut 800ms;
  -o-animation: fadeOut 800ms;
  -ms-animation: fadeOut 800ms;
  opacity: 0;
  visibility: hidden;
  display: none;
}

#signup-with-email {
  display: flex;
  max-width: 242px;
  max-height: 88px;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--background2);
  left: 13vh;
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 800ms;
  -moz-animation: fadeIn 800ms;
  -o-animation: fadeIn 800ms;
  -ms-animation: fadeIn 800ms;
}

#signup-to-start-no-display {
  display: flex;
  max-width: 290px;
  max-height: 18px;
  left: 13vw;
  margin-top: 2vh;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffabab;
  animation: fadeOut 8s;
  -webkit-animation: fadeOut 800ms;
  -moz-animation: fadeOut 800ms;
  -o-animation: fadeOut 800ms;
  -ms-animation: fadeOut 800ms;
  opacity: 0;
  visibility: hidden;
}

.signup-button-overlay-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 21px 82px;
  gap: 10px;
  width: 223px;
  max-height: 61px;
  margin-top: 23vh;
  border: 2px solid #ffffff;
  border-radius: 70px;
  background-color: var(--background1);
  cursor: pointer;
  transition-property: margin-top;
  transition-duration: 800ms;
}

#login-text-button-no-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 44px;
  height: 18px;
  margin-top: 2.8vh;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffbaba;
  animation: fadeOut 8s;
  -webkit-animation: fadeOut 800ms;
  -moz-animation: fadeOut 800ms;
  -o-animation: fadeOut 800ms;
  -ms-animation: fadeOut 800ms;
  opacity: 0;
  visibility: hidden;
}

/* DOM Manipulation Create Form*/

.signup-form-hide {
  animation: fadeOut 8s;
  -webkit-animation: fadeOut 800ms;
  -moz-animation: fadeOut 800ms;
  -o-animation: fadeOut 800ms;
  -ms-animation: fadeOut 800ms;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  top: 48.5vh;
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 800ms;
  -moz-animation: fadeIn 800ms;
  -o-animation: fadeIn 800ms;
  -ms-animation: fadeIn 800ms;
  position: absolute;
  transition-property: top;
  transition-duration: 800ms;
}

.signup-form input {
  text-align: center;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--background2);
  background-color: transparent;
  width: 73vw;
  color: white;
  line-height: 4vh;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 700;
  font-size: 15px;

}

.signup-form input::placeholder {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  text-align: center;
  color: #ffabab;
  letter-spacing: 0em;
}

.socials-signup-hide {
  animation: fadeOut 8s;
  -webkit-animation: fadeOut 800ms;
  -moz-animation: fadeOut 800ms;
  -o-animation: fadeOut 800ms;
  -ms-animation: fadeOut 800ms;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.socials-signup-container {
  text-align: center;
}

#signup-using-socials {
  font-family: var(--inter-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFABAB;
}

.socials-logos{
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}