@import "../App.css";

.questionnaire-container {
  display: flex;
  flex-direction: column;
}

.questionnaire-middle-container {
  display: grid;
  justify-content: center;
}

.questionnaire-middle_container-text-container {
  display: flex;
  flex-direction: column;
}

.questionnaire-index-text{
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: var(--background2);
}

.questionnaire-question{
  font-family: var(--inter-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  color: #ffffff;
  float: left;
}

.questionnaire-options-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  border-radius: 20px;
  grid-gap: 5vw;
  justify-content: center;
}

.questionnaire-option {
  display: flex;
}

