@import "../App.css";


/* Set up the swiper container */
.swiper-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100vh;
}

/* Set up the swiper pages */
.swiper-page {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

/* Set up the dots container */
.swiper-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Set up the dots */
.swiper-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Set the active dot */
.swiper-dot.active {
  background-color: #ffffff;
}

/* Set the scroll behavior for clicking on a dot */
.swiper-dot:focus {
  scroll-snap-align: center;
}