@import "../App.css";

.swiper-container-tutorial {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #ea4f32 0%,
    #f06b52 0.01%,
    #f45033 0.02%,
    #e80f5d 100%
  );
}

.swiper-page{
  scroll-snap-type: x mandatory;
}

.swiper-wrapper-tutorial {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-align: center;
}

.swiper-slide-tutorial {
  width: 100%;
  min-width: 100vw; /* optional - makes sure each slide takes up the full width of the viewport */
  padding: 1rem;
  scroll-snap-align: center;
}

.my-prev-button {
  display: flex;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* Define the CSS styles for the button inside the previous button */

