@import "../App.css";
@import "../components/button.css";

.TutorialSwiper {
  display: flex;
}

.swiper {
  width: 100%;
  background: var(--background1);
  height: 100vh;
}

.swiper-slide {
  display: flex;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

span.swiper-pagination-bullet {
  background: white;
}

#swipper_back_button {
  display: flex;
  position: absolute;
  cursor: pointer;
  width: 11px;
  height: 23px;
  left: 9.86vw;
  top: 4.87vh;
  animation: fadeIn 8s;
}

.swiper-button-prev {
  margin-left: 8.5%;
  background-image: url(../../assets/back.svg);
  background-repeat: no-repeat;
  background-size: 100% 30px;
  background-position: center;
  color: transparent;
  position: absolute;
  z-index: 1;
}

.swiper-button-next {
  visibility: hidden;
  display: none;
}

span[slot="container-start"] {
  /* add your styles here */
  position: absolute;
  align-items: center;
  width: 100vw;
}

/* Page 1*/

#tutorial_text {
  display: flex;
  flex-direction: column;
  margin-right: 10.1vw;
  margin-left: 13.3vw;
  font-family: var(--inter-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 15vh;
}

#tutorial_middle_icon {
  display: flex;
  margin-left: 39.2vw;
  margin-top: 3.58vh;
  width: 21.3vw;
  height: 6.82vh;
}

#tutorial_text_2 {
  font-family: var(--inter-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffabab;
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 76.5vw;
  max-height: 14.4vh;
  margin-top: 4.58vh;
  margin-right: 10.1vw;
  margin-left: 13.3vw;
  height: auto;
}

.skip_the_tutorial {
  position: absolute;
  left: -3.85%;
  right: -3.85%;
  top: 91vh;
  cursor: pointer;
}

#skip_the_tutorial_text {
  font-family: var(--inter-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffabab;
  cursor: pointer;
}

#you_can_edit {
  display: flex;
  color: #ffabab;
  font-family: var(--inter-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.my-prev-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
