@import "../App.css";

.questionnaire_one_container {
  display: flex;
  flex-direction: column;
  background: var(--background1);
  height: 100vh;
}

.questionnaire_one_top_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30vw;
  height: 16vh;
}

.questionnaire_one_middle_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.questionnaire_one_middle_container_text_container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 14vw;
}

#questionnaire_one_index_text {
  width: 55px;
  height: 44px;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

#questionnaire_one_question {
  height: 19px;
  width: 50px;
  left: 50px;
  top: 297px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;

}

.questionnaire_one_options_container {
  display: grid;
  justify-content: center;
  align-self: center;
  grid-template-columns: 20vh 20vh;
  border-radius: 20px;
  grid-gap: 5vw;
}
