@import "../App.css";

.filter-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.95);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.filter-overlay.open {
  transform: translateX(0%);
}

.filter-menu {
}

.filter-overlay.open .filter-menu {
  transform: translateX(0%);
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin-top: 18vh;
  gap: 20px;
}

.filter-container h1 {
  font-family: var(--inter-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--background3);
}

.filter-container h2 {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: var(--background3);
}

.gender-container {
  display: flex;
  flex-direction: column;
}

.gender-container-2 {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.gender-container p {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--background3);
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.age-container-ranges{
  display: flex;
  gap: 25px;
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--background3);
  margin-block-start: 0em;
  margin-block-end: 0em;
}
