@import "../App.css";

.first-page {
    background: var(--background1);
    width: 100%;
    height: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#screen-button {
  cursor: pointer;
}

.logo-slogan {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  gap: 13px;
  width: 202px;
  height: 78px;
}

#logo {
  width: 202px;
  height: 47px;
}

.logo-slogan text {
  font-family: var(--inter-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.tap-anywhere {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 88%;
}

.tap-anywhere text {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffbaba;
}
